* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }

:root{

  --branco:#F5FFEB

}

  .Cabessas{

    font-size: 0.9cm;
    color: blue;
    width: 100%;
    text-align: center;
    background-color: var(--branco);
    position: sticky;
    padding: 20px;
    top: 0px;
    z-index: 1;
    
    border-bottom: 3px solid blue;

  }

  #Carros{
    width: 100%;
  }

  .Conteudo {

    position: relative;

  }

  .Conteudo article{
    bottom: 10%;
    background-color: rgba(110, 110, 110, 0.295);
    padding: 2%;
    position: absolute;
    color: whitesmoke;

  }
  .Conteudo article h1{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
  }
  .Conteudo article blockquote{
    font-size: 22px;

  }
 .Conteudo a{
    text-decoration: none;
    color: rgb(183, 183, 238);
 }
 .Conteudo a:hover{
color: rgb(101, 24, 163);
 }

  .Conteudo abbr{
    text-decoration: none;
  }

  .Piso{
    font-size: 20px;
    color: blue;
    width: 100%;
    text-align: center;
    background-color: var(--branco);
    position: static;
    padding: 8px;

    margin-top: 3%;
    
    border-top: 3px solid blue;
  }

  .img-flag {

    width: 25px;

  }

  .img-flag img {

    width: 25px;

  }

  .img-flag:hover{

    scale: 1.4;

  }

  .lang{

    position: sticky;
    display: flex;
    bottom: 0px;

  }